# Hugo
public/
resources/
.hugo_build.lock

# Node
node_modules

# Environment
.env
.env.*

# Logs
*.log

# macOS
.DS_Store

# Linux
*~

# VS Code
.vscode/

# JetBrains
.idea/

# Articles Draft
content/draft/
