<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Ikwuka Okoye",
  "url": "{{ site.BaseURL }}",
  "image": "{{ "images/og-image.png" | absURL }}",
  "jobTitle": "Distributed Systems Software Engineer | Backend Engineer | DevOps Engineer",
  "description": "{{ site.Params.description }}",
  "email": "mailto:{{ site.Params.email }}",

  "sameAs": [
    "{{ site.Params.github }}",
    "{{ site.Params.linkedin }}",
    "{{ site.Params.twitter }}"
  ],
  "knowsAbout": [
    "Go(Golang)",
    "Python",
    "SQL",
    "Bash",
    "Distributed Systems",
    "Software Development",
    "Backend Engineering",
    "DevOps Engineering"
    "Linux",
    "Amazon Web Service (AWS)",
    "Google Cloud Platform (GCP)"
    "Docker",
    "Kubernetes",
    "REST APIs",
    "Cloud Computing",
    "Developer Tooling"
  ]
}
</script>
